//mobile
@media only screen and (max-width:999px){
    body{
        font-size:1.5rem;

        main{
            display:flex;
            flex-direction:column;
            gap:10px;

            height:100%;
            width:100%;
            padding:10px;
            box-sizing:border-box;

            


            h1{
                margin:0px;
                font-size:2rem;
            }


            #chatOuter{
                display:flex;
                flex-direction:column;
                flex-grow:1;

                
                #chat{
                    flex-basis:100%;
                }
            }
            
                 

            form{
                margin:0px;
                display:flex;
                flex-direction:column;
                gap:10px;

                input{
                    height:60px;
                    font-size:1.5rem;
                }
            }
        }
    }
   
}


//desktop
@media only screen and (min-width:1000px){
    main{
        width:50%;
        margin:auto;


        #chatOuter{
            margin-bottom:10px;

            #chat{
                
                height:200px;
                
            }
        }
        
 

        form{

            input{
                height:40px;
            }

            input[type=text]{
                margin-bottom:10px;
            }
        }
    }
}





body{
    background-color:rgb(102, 170, 202);
    font-family: 'Rubik', sans-serif;

    main{
        margin:auto;

        h1{
            text-align:center;
        }

        #chatOuter{
            padding:10px;
            margin-bottom:15px;
            overflow:hidden;

            border-radius:10px;
            background-color:rgb(206, 225, 233);
            box-shadow:5px 5px 5px rgba(0, 0, 0, 0.250);

            #chat{
                overflow-y:scroll;
                overflow-wrap:break-word;
                box-sizing:border-box;

                p{
                    padding:0px;
                    margin:0px;
                }

                .ownMessage{
                    color:rgb(0, 117, 196)
                } 
            }

            ::-webkit-scrollbar {
                width: 12px;
                background-color:rgb(160, 192, 207);
                border-radius:10px;
            }
              
            ::-webkit-scrollbar-thumb {
                background:rgb(102, 170, 202);
                border-radius:10px;
            }


            #isTyping{
                margin:0px;
                visibility:hidden;
            }

        }
        
        
    
        form{
    
            input[type=text]{
                width:100%;
                margin-bottom:15px;
            
                border:none;
                border-radius:10px;
                padding-left:10px;
                background-color:rgb(206, 225, 233);
                box-shadow:5px 5px 5px rgba(0, 0, 0, 0.250);
            }
            
            input[type=submit]{
                width:100px;
            
                border:none;
                border-radius:10px;
                background-color:rgb(206, 225, 233);
                font-family: 'Rubik', sans-serif;
                box-shadow:5px 5px 5px rgba(0, 0, 0, 0.250);
            }
            
            
            input:hover{
                background-color:rgb(255, 255, 255);
            }
            
            input[type=submit]:hover{
                cursor:pointer;
            }
        }
    }    
}

