//mobile
@media only screen and (max-width:999px){
    body{
        font-size:2rem;

        main{
            height:100%;
            width:100%;
            padding:30px;
            box-sizing:border-box;

            display:flex;
            flex-flow:column;
            gap:30px;


            #chatOuter{

                #chatInner{
                    flex-basis:100%;
                    font-size:3rem;
                }
            }      

            form{
                margin:0px;

                display:flex;
                flex-flow:column;
                gap:30px;

                input{
                    height:100px;
                    font-size:3rem;
                }
            }
        }
    }
   
}


//desktop
@media only screen and (min-width:1000px){
    main{
        width:50%;
        margin:auto;

        #chatOuter{
            margin-bottom:10px;

            #chatInner{
                height:200px;
                
            }
        } 

        form{

            input{
                height:40px;
            }

            input[type=text]{
                margin-bottom:10px;
            }
        }
    }
}



body{
    background-color:rgb(102, 170, 202);
    font-family: 'Rubik', sans-serif;

    main{
        margin:auto;

        h1{
            text-align:center;
        }

        #chatOuter{
            position:relative;

            #chatInner{
                padding:10px;
                overflow-wrap:break-word;
                overflow-y:scroll;
            
                border-radius:10px;
                background-color:rgb(206, 225, 233);
                padding-bottom:30px;
            
                p{
                    padding:0px;
                    margin:0px;
                }
    
                .ownMessage{
                    color:rgb(0, 117, 196)
                }  
            }

            #isTyping{
                position:absolute;
                left:10px;
                bottom:10px;
                margin:0px;
                padding:0px;

                display:none;
            }
        }
        
    
        form{
    
            input[type=text]{
                width:100%;
            
                border:none;
                border-radius:10px;
                padding-left:10px;
                background-color:rgb(206, 225, 233);
            }
            
            input[type=submit]{
                width:100%;
            
                border:none;
                border-radius:10px;
                background-color:rgb(206, 225, 233);
                font-family: 'Rubik', sans-serif;
            }
            
            
            input:hover{
                background-color:rgb(255, 255, 255);
            }
            
            input[type=submit]:hover{
                cursor:pointer;
            }
        }
    }    
}

