//mobile
@media only screen and (max-width:999px){

    body{
        font-size:3rem;

        main{
            width:75%;

            form{

                input{
                    height:100px;
                    font-size:3rem;
                }

                input::placeholder{
                    
                    font-size:3rem;
                }

                input[type=submit]{
                    margin-top:53px;
                    width:200px;
                }
            }
        }
    }
}





//desktop
@media only screen and (min-width:1000px){
    main{
        width:50%;

        form{

            input{
                height:40px;
            }

            input[type=submit]{
                margin-top:20px;
                width:100px;
            }
        }
    }
}




body{
    background-color:rgb(102, 170, 202);
    font-family: 'Rubik', sans-serif;

    main{
        margin:auto;
    
        h1{
            text-align:center;
        }

        form{

            input[type=text]{
                width:100%;
                margin-bottom:10px;
            
                border:none;
                border-radius:10px;
                padding-left:10px;
                background-color:rgb(206, 225, 233);
                box-shadow:5px 5px 5px rgba(0, 0, 0, 0.250);
            }
            
            input[type=submit]{
                border:none;
                border-radius:10px;
                background-color:rgb(206, 225, 233);
                font-family:'Rubik', sans-serif;
                font-weight:bold;
                box-shadow:5px 5px 5px rgba(0, 0, 0, 0.250);
            }
            
            input:hover{
                background-color:rgb(255, 255, 255);
            }
            
            input[type=submit]:hover{
                cursor:pointer;
            }
        }

        #activeRoomsSection{
            display:flex;
            flex-wrap:wrap;
            gap:30px;

            h2{
                flex-basis:100%;

                margin:0px;
                margin-bottom:-20px;

                text-align:center;
            }

            .activeRoomDiv{
                flex-basis:30%;
                max-width:30%;
                overflow-wrap:break-word;

                border-radius:10px;
                background-color:rgb(206, 225, 233);
                text-align:center;
                padding:10px;
                user-select:none;
                cursor:pointer;
                box-shadow:5px 5px 5px rgba(0, 0, 0, 0.250);
            }

            .activeRoomDiv:hover{
                background-color:rgb(255, 255, 255);
            }
        }
    }
}





